@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Lato;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 80%;
    margin: 0 auto;
}

/*HEADER*/
.header-div {
    width: 100%;
    /* height: calc( 15vh - 6vh );
    margin: 3vh 0; */
    /* background-color: silver; */
    margin: 20px 0;
}

#logo-img {
    height: 50px;
    /*come farlo piu responsive?*/
}

.header-div-nav {
    padding-top: 10px;
}

.header-div-nav a {
    text-decoration: none;
    display: inline-block;
    color: darkgray;
    padding: 3px;
    margin-right: 10px;
}

.header-div-nav a:hover {
    background-color: black;
    color: white;
    border-radius: 3px;
}

/*MAIN*/
/*section 1*/
.section-1-first-div {
    width: 100%;
    /* height: calc( 30vh - 3vh );
    margin-bottom: 3vh; */
    /* background-color: #E1D67A; */
    position: relative;
    margin-bottom: 20px;
}

.section-1-img-container {
    width: 100%;
    height: 400px; /*come farlo piu responsive?*/
    border-radius: 10px;

    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
}

.section-1-img-overlay {
    width: 100%;
    height: 400px; /*come farlo piu responsive?*/
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.section-1-text {
    width: 50%;
    position: absolute;
    left: 2%;
    bottom: 8%;
    color: white;
}

/*section 2*/
.section-2-first-div {
    width: 100%;
    /* height: calc( 45vh - 1.5vh );
    margin-bottom: 1.5vh; */
    /* background-color: #0086FF; */
}

/*section 2 header*/
.section-2-header {
    width: 100%;
    /* height: calc(20% - 1.5vh);
    margin-bottom: 1.5vh;
    background-color: #ABCFE7; */
    margin-bottom: 20px;
}

.section-2-header p {
    color: darkgray;
}

/*section 2 column*/
/* .section-2-column-container {
    height: calc(80% - 1.5vh);
    margin-bottom: 1.5vh;
} */

.section-2-column-container h3 {
    margin: 20px 0 10px 0;
}

.section-2-column-side {
    width: 25%;
    /* height: 100%;
    background-color: #ABCFE7; */
    float: left;
}

.section-2-column-center {
    width: calc( 50% - 3% );
    margin: 0 1.5%;
    /* height: 100%;
    background-color: #ABCFE7; */
    float: left;
}

.column-side-1-img-container, .column-center-img-container, .column-side-2-img-container {
    width: 100%;
    height: 200px; /*come farlo piu responsive?*/
    border-radius: 10px;
    position: relative;

    background-size: cover;
    background-position: center;
}

.column-side-1-img-container {
    background-image: url("../img/img-1.jpg");
}

.column-center-img-container {
    background-image: url("../img/img-2.jpg");
}

.column-side-2-img-container {
    background-image: url("../img/img-3.jpg");
}

.column-side-1-img-overlay, .column-center-img-overlay, .column-side-2-img-overlay {
    width: 100%;
    height: 200px; /*come farlo piu responsive?*/
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*FOOTER*/
.footer-div {
    width: 100%;
    height: calc( 10vh - 3vh );
    margin-bottom: 3vh;
    background-color: #8801FE;
    text-align: center;
}

.heart-style {
    color: red;
}